<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title adminTitlePadding">{{ "DoctorUpdate" | translate }}</h4>
          </div>
          <div class="card-body ">
            <form *ngIf="doctorUpdateForm" [formGroup]="doctorUpdateForm" (ngSubmit)="updateDoctor()">
              <div class="row">
                <div class="col col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="name" type="text" id="name" name="name" formControlName="name" />
                    <div class="alert alert-danger" *ngIf="
                    doctorUpdateForm.get('name')!.hasError('name') &&
                    doctorUpdateForm.get('name')!.dirty
                      "></div>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="surname" type="text" id="surname" name="surname"
                      formControlName="surname" />
                    <div class="alert alert-danger" *ngIf="
                    doctorUpdateForm.get('surname')!.hasError('surname') &&
                    doctorUpdateForm.get('surname')!.dirty
                      "></div>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="adress" type="text" id="adress" name="adress"
                      formControlName="adress" />
                    <div class="alert alert-danger" *ngIf="
                    doctorUpdateForm.get('adress')!.hasError('adress') &&
                    doctorUpdateForm.get('adress')!.dirty
                      "></div>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="telephone" type="text" id="telephone" name="telephone"
                      formControlName="telephone" />
                    <div class="alert alert-danger" *ngIf="
                    doctorUpdateForm.get('telephone')!.hasError('telephone') &&
                    doctorUpdateForm.get('telephone')!.dirty
                      "></div>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" >
                <div class="col-md-12">
                  <select class="browser-default custom-select" formControlName="doctorTypeId">
                    <option *ngFor="let item of doctorTypeLookUp" [value]="item.id">
                      {{ item.label }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col col-md-2">
                  <mat-checkbox formControlName="active" id="active" name="active">
                    active
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col col-md-2">
                  <mat-checkbox formControlName="deleted" id="deleted" name="deleted">
                    deleted
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 d-flex">   
                  <div [ngClass]="doctor.imagePath != null ? 'col-md-3':'col-md-12' ">
                    <input  placeholder="File" type="hidden"  name="ImagePath"  />          
                    <input  placeholder="File" type="file"  (change)="changeFile($event.target.files)"  />
                  </div>
                  <div *ngIf="doctor.imagePath != null" class="col-md-6">
                    <img [src]="doctor.imagePath" width="100px" height="100px">
                  </div>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">
                {{ "Save" | translate }}
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Update Bitiş-->
