<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">{{ "DoctorList" | translate }}</h4>
            <a class="pull-right" routerLink="/doctorCreate">
              >
              <i style="color: white" title="{{ 'Add' | translate }}" class="far fa-plus-square fa-2x"></i></a>
          </div>
          <div class="card-body">
            <app-customgrid 
            [url]="'/doctors/getallpagedlist'" 
            [btnColumnOn]="true"
            [editBtnUrl]="'#/doctorUpdate/'"
            [deleteBtnUrl]="'/doctors/'">
            </app-customgrid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>