<div class="logo d-flex" style="padding: 5px">
  <div class="mr-2 mt-1" id="sidebarMenuToggleItem" (click)="menuToggleItemClick()">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
  </div>
  <a class="simple-text" href="/admin/dashboard">
    Doctor
  </a>
</div>
<div class="sidebar-wrapper">
  <div class="nav-container">
    <ul class="nav">
      <li routerLinkActive="active">
        <a data-toggle="collapse" class="nav-link" href="#Management">
          <i class="material-icons">widgets</i>
          <p>
            {{ "Management" | translate }}
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="Management">
          <ul class="nav">
            <li
              *ngFor="let menuItem of adminMenuItems"
              class="{{ menuItem.class }} nav-item"
            >
              <a
                *ngIf="checkClaim(menuItem.claim)"
                class="nav-link"
                (click)="sidebarLinkClick(menuItem.path)"
               
              >
                <i class="material-icons">{{ menuItem.icon }}</i>
                <p>{{ menuItem.title | translate }}</p>
              </a>
            </li>
          </ul>
        </div>
      </li>
	</ul>
	
	<ul class="nav">
		<li routerLinkActive="active">
		  <a data-toggle="collapse" class="nav-link" href="#AppMenu">
			<i class="material-icons">extension</i>
			<p>
			  {{ "AppMenu" | translate }}
			  <b class="caret"></b>
			</p>
		  </a>
		  <div class="collapse" id="AppMenu">
			<ul class="nav">
			  <li
				*ngFor="let menuItem of userMenuItems"
				class="{{ menuItem.class }} nav-item"
			  >
				<a
				  *ngIf="checkClaim(menuItem.claim)"
				  class="nav-link"
          (click)="sidebarLinkClick(menuItem.path)"
				>
				  <i class="material-icons">{{ menuItem.icon }}</i>
				  <p>{{ menuItem.title | translate }}</p>
				</a>
			  </li>
			</ul>
		  </div>
		</li>
	  </ul>
  </div>
</div>
